#outer{
    border:1px solid black;
    box-shadow: 0 2px 4px;
    margin:10px auto;
    background-color: #1c1c1c;
    max-width:600px;
    text-align: center;
    padding:10px;
}
body{
     background: white;
    font-family: Arial, sans-serif;
    margin:0;
    height: 100vh;
}
#header{
    background-color: #2c2c2c;;
    box-shadow: 2px 4px 8px;
}
#header h1{
    color:gold;

}
label{
        color:gold;
    }
#header button{
    background:linear-gradient(90deg,orange,red);
    color:white;
}
#todolist{
    max-width:600px;
    padding:10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    background-color: #2a2a2a;
    color: #fff;
    gap:10px;
}
.taskitems{
    border:1px solid black;
    box-shadow: 0 2px 4px;
   background-color:gold;
   color:white;
}
.taskitems:hover,button:hover{
    transform: scale(1.1);
}

.taskitems h1{
    border:3px double black;
    width:40px;
    height:40px;
    border-radius: 100px;
    background-color: white;
    color:black;
}
.bcontainer{
    display: flex;
    gap:10px;   
    align-items: center;
}
.bcontainer button{
    border-radius: 100px;
   
}

#form{
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    padding:10px;
    background-color:rgba(255, 255, 255, 0.8);;
    box-shadow: 0 2px 4px ;
    z-index: 1000;
    width:200px;
    height:100px;
}
#form button{
   background: linear-gradient(90deg,orange,red);
    color:white;
}
h3{
    color:#004d4d;
}
p{
    color: #666;
}
#display{
   cursor:not-allowed;
}

@media screen and (max-width:628px){
    #todolist{
        font-size: 25px;
        width: 80%;
        padding:10px;

    }
    .taskitems{
        font-size: 25px;
        width: 80%;
        padding:10px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
    #header{
        font-size: 25px;
        width: 95%;
        padding:15px;

    }
    #outer{
        font-size: 20px;
        width: 95%;
        padding:15px;
    }
    input{
        font-size: 20px;
    }
}
@media screen and (max-width:420px)
{
    #outer{
        width:100%;
        padding:15px;
    }
    #header{
        width:100%;
        font-size: 20px;
    }
    #todolist{
        width:80%;
       padding:15px;
       grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
    .taskitems{
        width:100%;
        font-size:20px ;
    }
    input{
        font-size: 20px;
    }
}